<h1>Sign Up</h1>

<div class="signup-container">
  <%= form_with model: @user, url: users_path, class: 'signup-form' do |form| %>
    <div>
      <%= form.label :name %>
      <%= form.text_field :name, class: "form-input", placeholder: "Enter your name" %>
    </div>

    <div>
      <%= form.label :email %>
      <%= form.email_field :email, class: "form-input", placeholder: "Enter your email" %>
    </div>

    <div>
      <%= form.label :password %>
      <%= form.password_field :password, class: "form-input", placeholder: "Enter your password" %>
    </div>

    <div>
      <%= form.label :password_confirmation %>
      <%= form.password_field :password_confirmation, class: "form-input", placeholder: "Confirm your password" %>
    </div>

    <div>
      <%= form.submit "Sign Up", class: "btn btn-primary" %>
    </div>
  <% end %>

  <%= link_to "Back to Home", root_path, class: "btn-home" %>
</div>
