<!-- app/views/products/edit.html.erb -->

<h1>Edit Product</h1>

<div class="edit-product-container">
  <%= form_with model: @product, local: true do |form| %>
    <div class="field">
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    </div>

    <div class="field">
      <%= form.label :description %><br>
      <%= form.text_area :description %>
    </div>

    <div class="field">
      <%= form.label :price %><br>
      <%= form.number_field :price, step: 0.01 %>
    </div>

    <div class="field">
      <%= form.label :image %><br>
      <%= form.file_field :image %>
    </div>

    <div class="actions">
      <%= form.submit "Update Product", class: "btn btn-primary" %>
    </div>
  <% end %>

  <%= link_to 'Back to Home', root_path, class: 'btn btn-primary' %> <!-- Кнопка повернення на головну -->
</div>
